.App {
  text-align: center;
  padding: 20px;
}

#mapId {
  width: 100%;
  height: 70vh;
}

.popup-text p {
  margin: 0;
}

.grid-3 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 700px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
}

.card {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  border-radius: 2rem;
}

.card-green {
  border: 1px solid green;
  box-shadow: 0 1px 2px 0 green;
}

.card-red {
  border: 1px solid red;
  box-shadow: 0 1px 2px 0 red;
}

.card-black {
  border: 1px solid black;
  box-shadow: 0 1px 2px 0 black;
}

.card h2,
.card h5 {
  margin: 0;
}
.coffin,
.mask-face,
.smiley {
  font-size: 4rem;
}

.fa-plus-circle {
  color: blue;
}
