.App {
  text-align: center;
}

#mapId {
  width: 100%;
  height: 70vh;
}

.popup-text p {
  margin: 0;
}

.grid-3 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #e9edf1;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 1px 2px 0 #e9edf1;
}

.card h2,
.card h5 {
  margin: 0;
}
.coffin,
.mask-face,
.smiley {
  font-size: 4rem;
}

.fa-plus-circle {
  color: blue;
}
